name: Publish Docker image

on:
  release:
    types: [published]

jobs:

  push_to_registry:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Login in aliyun registry
      run: docker login --username=${{ secrets.DOCKER_USERNAME }} --password=${{ secrets.DOCKER_PASSWORD }} registry.cn-hangzhou.aliyuncs.com

    - name: Build the backend
      run: docker build ./install/docker/backend/ -f ./install/docker/backend/Dockerfile --tag registry.cn-hangzhou.aliyuncs.com/hydro/backend:${{ github.ref_name }}
    - name: Push backend to the aliyun registry
      run: docker push registry.cn-hangzhou.aliyuncs.com/hydro/backend:${{ github.ref_name }}

    - name: Build the judge
      run: docker build ./install/docker/judge/ -f ./install/docker/judge/Dockerfile --tag registry.cn-hangzhou.aliyuncs.com/hydro/judge:${{ github.ref_name }}
    - name: Push judge to the aliyun registry
      run: docker push registry.cn-hangzhou.aliyuncs.com/hydro/judge:${{ github.ref_name }}
